.planScreen__plan{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    opacity: 0.8;
}

.planScreen__plan:hover{
    opacity: 1;
}
.planScreen__plan > button{
    padding: 7px 10px;
    font-size: 1rem;
    color: white;
    background-color: #e50914;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
}